
/* Internal CSS */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fae4ff;
    margin: 0;
    padding: 0;
}
.header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    background-color: #9d6ad7;
    color: rgb(250, 222, 255);
    border: 5px solid #6f44b3;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.friend-card {
    background-color: rgb(242, 242, 115);
    border: 5px dashed #43270d;
    border-radius: 10px;
    margin: 30px;
    padding: 50px;
    width: 50%;
    text-align: left;
}

.friend-card2 {
        background-color: rgb(115, 123, 242);
        border: 5px dashed #6f3ba0;
        border-radius: 10px;
        margin: 30px;
        padding: 50px;
        width: 50%;
        text-align: left;
}

.friend-card3 {
    background-color: rgb(215, 245, 255);
    border: 5px dashed #43270d;
    border-radius: 10px;
    margin: 30px;
    padding: 50px;
    width: 50%;
    text-align: left;
}

.friend-card4 {
    background-color: rgb(223, 193, 255);
    border: 5px dashed #430d3d;
    border-radius: 10px;
    margin: 30px;
    padding: 50px;
    width: 50%;
    text-align: left;
}

.friend-card5 {
    background-color: rgb(142, 97, 71);
    border: 5px dashed #430d0d;
    border-radius: 10px;
    margin: 30px;
    padding: 50px;
    width: 50%;
    text-align: left;
}

.friend-card img {
    width: 180px;
    height: 185px;
    border: solid 10px white;
    margin: 20px;
}

.friend-card2 img {
    width: 31%;
    height: 50%;
    border: solid 10px white;
    margin: 56px;
}

.friend-card3 img {
    width: 195px;
    height: 192px;
    border: solid 10px white;
    margin: 12px;
}

.friend-card4 img {
    width: 150px;
    height: 175px;
    border: solid 10px white;
    margin: 34px;
}

.friend-card5 img {
    width: 200;
    height: 175px;
    border: solid 10px white;
    margin: 12px;
}

.friend-card h2 {
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    font-size: 30px;
    color: #292e10;
}

.friend-card p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    font-size: 18px;
    color:rgb(95, 72, 55)
}

.friend-card2 h2 {
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    font-size: 30px;
   color: aliceblue;
}

.friend-card2 p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    font-size: 18px;
    color:rgb(198, 228, 255)
}

.friend-card3 h2 {
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    font-size: 30px;
   color: rgb(77, 93, 154);
}

.friend-card3 p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    font-size: 18px;
    color:rgb(81, 75, 135)
}

